.container {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons img {
    margin-right: 30px;
}

.icons {
    display: flex;
    height: fit-content;
    
}