.container{
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 30px 30px 0px 0px;
    min-height: 149px;
    width: 100%;
    padding: 29px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.linklist li{
    list-style-type: none;
    margin-bottom: 10px;
}

.linklist ul :last-child{
    margin-bottom: 0;
}

.linklist a {
    color: black;
}

.language {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    height: 20px;
}

.language img {
    opacity: 40%;
}

.language_active{
    color: #FFA542;
}

.social {
    display: flex;
    justify-content: space-around;
    height: 32px;
}

.social img {
    margin-left: 17px;
}